@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

 /*------------- Whole Document---------------- */

body {
    font-family: 'Roboto', sans-serif;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
